{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "ignorePatterns": "webpack.config.js",
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-unused-vars": "warn"
  }
}